body{
    margin: 0%;
    background-image:url(img1\ copy.webp) ;
    background-repeat: no-repeat;
    background-size: cover;}
    
   p{
        font-size: 25px;
    }
    h3{
        font-size:35px; 
        }
        .block {
            display: block;
            width: 50%;
            border: none;
            background-color:rgb(255, 113, 137);
            padding: 14px 28px;
            font-size: 25px;
            cursor: pointer;
            text-align: center;
          }
          .big{
            width:20px;
            height: 20px;
          }